# importing libraries

In [3]:
import pandas as pd
import numpy as np

# load and assign data to objects

In [4]:
dt1=pd.read_csv(r'http://bit.ly/Telcom_dataset1')

In [5]:
dt2=pd.read_csv(r'http://bit.ly/Telcom_dataset2')

In [6]:
dt3=pd.read_csv(r'http://bit.ly/Telcom_dataset3')

In [7]:
dt4=pd.read_csv(r"C:\Users\HP\Downloads\cells_geo.csv",sep=';',index_col=0)

In [8]:
#preview the metadata
pd.read_excel(r"C:\Users\HP\Downloads\CDR_description.xlsx")

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

In [9]:
#preview the metadata 
pd.read_excel(r"C:\Users\HP\Downloads\cells_geo_description.xlsx")

     Column name                                        Description  Format
0         VILLES                                               City  String
1         STATUS                                  In Service or not  String
2   LOCALISATION                                  in ABIDJAN or not  String
3     DECOUPZONE                                  Geographical Zone  String
4       ZONENAME                                       Name of Zone  String
5      LONGITUDE                                          Longitude   Float
6       LATITUDE                                           Latitude   Float
7         REGION                                             Region  String
8           AREA                                               Area  String
9        CELL_ID                                     ID of the cell  String
10     SITE_CODE  Site (there are several cells per site, severa...  String

### check the dataframes

In [9]:
dt1.head(3)

,PRODUTC,VALUE,DATETIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,Voice,0,2012-05-06 23:04:37.0,1,49fae048b547780,1a49f8b0ded9de6,19e2e,19e2e,/TJNe+Mmtu,/TJNe+Mmtu
1,sms,0,2012-05-06 23:05:25.0,0,7a54a6eaee19e65,93343ba6e41af95,19e2e,19e2e,/+cKZKIp41,/+cKZKIp41
2,sms,25,2012-05-06 23:05:41.0,0,6008887b0207d82,7aacc9709ce0a20,19e2e,19e2e,/u0FSD+ahi,/u0FSD+ahi

In [10]:
dt2.head(3)

,PRODUCT,VALUE,DATE_TIME,CELL_ON_SITE,DW_A_NUMBER,DW_B_NUMBER,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,sms,0,2012-05-07 23:02:06.0,2,32255675c3b6fe3,1aa7ae01386e9fb,19e2e,19e2e,+854AcBQT2,+854AcBQT2
1,Voice,0,2012-05-07 23:03:44.0,1,ff16d6ac74c1c64,87d87309c15a8c9,19e2e,19e2e,+854AcBQT2,+854AcBQT2
2,sms,0,2012-05-07 23:04:06.0,0,98d9f2fb5ff624b,93343ba6e41af95,19e2e,19e2e,+laSrk7g6q,+laSrk7g6q

In [11]:
dt3.head(3)

,PRODUCT,VALUE,DATE_TIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELLID,SIET_ID
0,Voice,61,2012-05-08 23:01:28.0,2,966f68353622feb,ffd53a3bb2db6f1,19e2e,19e2e,+38u2u/rfx,+38u2u/rfx
1,sms,0,2012-05-08 23:01:31.0,1,a0a597384c612d7,cf3b218f1dde792,19e2e,19e2e,+Fs4mTvdKx,+Fs4mTvdKx
2,Voice,10,2012-05-08 23:02:59.0,1,5441a9a58c97132,52f8b299515b9b7,19e2e,19e2e,+ZaaZozy/+,+ZaaZozy/+

In [12]:
dt4.head(4)

,VILLES,STATUS,LOCALISATION,DECOUPZONE,ZONENAME,LONGITUDE,LATITUDE,REGION,AREA,CELL_ID,SITE_CODE
0,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,fbb2e75af3,0bb492ef17
1,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,1502501d78,0bb492ef17
2,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,0c2e182a0c,0bb492ef17
3,ASSINIE,In Service,INTERIEUR,Grand-EST,"ASSINIE""",-3.488467,5.158761,SUD COMOE,NaN,69bdfc69fd,8a1e6ce31f

# Rename column names 
for the three-day dataframes
this is to prepare for merging

In [10]:
#for 1st dataframe we correct to product and date_time
dt1.columns.values[0]='PRODUCT'

In [11]:
dt1.columns.values[2]='DATE_TIME'

In [12]:
dt1.head(2)

,PRODUCT,VALUE,DATE_TIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,Voice,0,2012-05-06 23:04:37.0,1,49fae048b547780,1a49f8b0ded9de6,19e2e,19e2e,/TJNe+Mmtu,/TJNe+Mmtu
1,sms,0,2012-05-06 23:05:25.0,0,7a54a6eaee19e65,93343ba6e41af95,19e2e,19e2e,/+cKZKIp41,/+cKZKIp41

In [13]:
#for the 2nd dataframe we correct to columns dw_a_number_int and dw_b_number_int
dt2.columns.values[4:6]=['DW_A_NUMBER_INT','DW_B_NUMBER_INT']

In [14]:
dt2.head(2)

,PRODUCT,VALUE,DATE_TIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,sms,0,2012-05-07 23:02:06.0,2,32255675c3b6fe3,1aa7ae01386e9fb,19e2e,19e2e,+854AcBQT2,+854AcBQT2
1,Voice,0,2012-05-07 23:03:44.0,1,ff16d6ac74c1c64,87d87309c15a8c9,19e2e,19e2e,+854AcBQT2,+854AcBQT2

In [15]:
#for the third dataframe we change to cell_id and site_id
dt3.columns.values[8:10]=['CELL_ID','SITE_ID']

In [16]:
dt3.head(2)

,PRODUCT,VALUE,DATE_TIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,Voice,61,2012-05-08 23:01:28.0,2,966f68353622feb,ffd53a3bb2db6f1,19e2e,19e2e,+38u2u/rfx,+38u2u/rfx
1,sms,0,2012-05-08 23:01:31.0,1,a0a597384c612d7,cf3b218f1dde792,19e2e,19e2e,+Fs4mTvdKx,+Fs4mTvdKx

# merge the three-day dataframes

In [60]:
dt5= pd.concat(((dt1,dt2,dt3)), axis=0,ignore_index=True)

In [61]:
dt5

,PRODUCT,VALUE,DATE_TIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,Voice,0,2012-05-06 23:04:37.0,1,49fae048b547780,1a49f8b0ded9de6,19e2e,19e2e,/TJNe+Mmtu,/TJNe+Mmtu
1,sms,0,2012-05-06 23:05:25.0,0,7a54a6eaee19e65,93343ba6e41af95,19e2e,19e2e,/+cKZKIp41,/+cKZKIp41
2,sms,25,2012-05-06 23:05:41.0,0,6008887b0207d82,7aacc9709ce0a20,19e2e,19e2e,/u0FSD+ahi,/u0FSD+ahi
3,Voice,56,2012-05-06 23:05:42.0,1,7370032e20f4e96,6af4a60e74c91d3,19e2e,19e2e,+cNeJzsTp3,+cNeJzsTp3
4,Voice,14,2012-05-06 23:06:29.0,1,966ba4656e38e62,02aa736ee555d5c,19e2e,19e2e,051KhYDCpv,051KhYDCpv
...,...,...,...,...,...,...,...,...,...,...
14998,Voice,0,2012-05-09 00:01:43.0,3,467333ade2b4b9c,0ab2acd804d01fe,19e2e,19e2e,2aa04dcab7,f7d63a29e5
14999,Voice,62,2012-05-09 00:01:43.0,1,e077a6b74c5053c,4c8098eb6ea1a41,19e2e,19e2e,7f1f2f889f,b4ddb9e93c
15000,Voice,32,2012-05-09 00:01:43.0,1,77f53c39d27c050,9d064f013e2cab2,19e2e,19e2e,a4731e780e,d68260ef50
15001,Voice,30,2012-05-09 00:01:43.0,2,672ce74c418aa7a,f9ff5af59cf0d68,19e2e,19e2e,98ed726da2,b4130b54ab
15002,Voice,60,2012-05-09 00:01:43.0,2,6edeb4c55714650,7e60838216482a7,19e2e,19e2e,1c11a2fcbb,6d70dae094

# Data Cleaning

In [62]:
# change the column names to lower case
dt5.columns = map(str.lower, dt5.columns)
dt5

,product,value,date_time,cell_on_site,dw_a_number_int,dw_b_number_int,country_a,country_b,cell_id,site_id
0,Voice,0,2012-05-06 23:04:37.0,1,49fae048b547780,1a49f8b0ded9de6,19e2e,19e2e,/TJNe+Mmtu,/TJNe+Mmtu
1,sms,0,2012-05-06 23:05:25.0,0,7a54a6eaee19e65,93343ba6e41af95,19e2e,19e2e,/+cKZKIp41,/+cKZKIp41
2,sms,25,2012-05-06 23:05:41.0,0,6008887b0207d82,7aacc9709ce0a20,19e2e,19e2e,/u0FSD+ahi,/u0FSD+ahi
3,Voice,56,2012-05-06 23:05:42.0,1,7370032e20f4e96,6af4a60e74c91d3,19e2e,19e2e,+cNeJzsTp3,+cNeJzsTp3
4,Voice,14,2012-05-06 23:06:29.0,1,966ba4656e38e62,02aa736ee555d5c,19e2e,19e2e,051KhYDCpv,051KhYDCpv
...,...,...,...,...,...,...,...,...,...,...
14998,Voice,0,2012-05-09 00:01:43.0,3,467333ade2b4b9c,0ab2acd804d01fe,19e2e,19e2e,2aa04dcab7,f7d63a29e5
14999,Voice,62,2012-05-09 00:01:43.0,1,e077a6b74c5053c,4c8098eb6ea1a41,19e2e,19e2e,7f1f2f889f,b4ddb9e93c
15000,Voice,32,2012-05-09 00:01:43.0,1,77f53c39d27c050,9d064f013e2cab2,19e2e,19e2e,a4731e780e,d68260ef50
15001,Voice,30,2012-05-09 00:01:43.0,2,672ce74c418aa7a,f9ff5af59cf0d68,19e2e,19e2e,98ed726da2,b4130b54ab
15002,Voice,60,2012-05-09 00:01:43.0,2,6edeb4c55714650,7e60838216482a7,19e2e,19e2e,1c11a2fcbb,6d70dae094

In [77]:
#drop columns not needed in the analysis
dt5.drop(['cell_on_site','country_a','country_b'],axis=1,inplace=True)
dt5

,product,value,date_time,dw_a_number_int,dw_b_number_int,cell_id,site_id
0,Voice,0,2012-05-06 23:04:37.0,49fae048b547780,1a49f8b0ded9de6,/TJNe+Mmtu,/TJNe+Mmtu
1,sms,0,2012-05-06 23:05:25.0,7a54a6eaee19e65,93343ba6e41af95,/+cKZKIp41,/+cKZKIp41
2,sms,25,2012-05-06 23:05:41.0,6008887b0207d82,7aacc9709ce0a20,/u0FSD+ahi,/u0FSD+ahi
3,Voice,56,2012-05-06 23:05:42.0,7370032e20f4e96,6af4a60e74c91d3,+cNeJzsTp3,+cNeJzsTp3
4,Voice,14,2012-05-06 23:06:29.0,966ba4656e38e62,02aa736ee555d5c,051KhYDCpv,051KhYDCpv
...,...,...,...,...,...,...,...
14998,Voice,0,2012-05-09 00:01:43.0,467333ade2b4b9c,0ab2acd804d01fe,2aa04dcab7,f7d63a29e5
14999,Voice,62,2012-05-09 00:01:43.0,e077a6b74c5053c,4c8098eb6ea1a41,7f1f2f889f,b4ddb9e93c
15000,Voice,32,2012-05-09 00:01:43.0,77f53c39d27c050,9d064f013e2cab2,a4731e780e,d68260ef50
15001,Voice,30,2012-05-09 00:01:43.0,672ce74c418aa7a,f9ff5af59cf0d68,98ed726da2,b4130b54ab
15002,Voice,60,2012-05-09 00:01:43.0,6edeb4c55714650,7e60838216482a7,1c11a2fcbb,6d70dae094

In [63]:
#check and remove duplicates in the merged dataframe
dt5.duplicated().sum()

253

In [64]:
dt5.drop_duplicates()

,product,value,date_time,cell_on_site,dw_a_number_int,dw_b_number_int,country_a,country_b,cell_id,site_id
0,Voice,0,2012-05-06 23:04:37.0,1,49fae048b547780,1a49f8b0ded9de6,19e2e,19e2e,/TJNe+Mmtu,/TJNe+Mmtu
1,sms,0,2012-05-06 23:05:25.0,0,7a54a6eaee19e65,93343ba6e41af95,19e2e,19e2e,/+cKZKIp41,/+cKZKIp41
2,sms,25,2012-05-06 23:05:41.0,0,6008887b0207d82,7aacc9709ce0a20,19e2e,19e2e,/u0FSD+ahi,/u0FSD+ahi
3,Voice,56,2012-05-06 23:05:42.0,1,7370032e20f4e96,6af4a60e74c91d3,19e2e,19e2e,+cNeJzsTp3,+cNeJzsTp3
4,Voice,14,2012-05-06 23:06:29.0,1,966ba4656e38e62,02aa736ee555d5c,19e2e,19e2e,051KhYDCpv,051KhYDCpv
...,...,...,...,...,...,...,...,...,...,...
14997,Voice,10,2012-05-09 00:01:43.0,0,2f834987f0c1825,accc8e5c1164343,19e2e,OTHER,6467daa1db,8a96bae9c1
14998,Voice,0,2012-05-09 00:01:43.0,3,467333ade2b4b9c,0ab2acd804d01fe,19e2e,19e2e,2aa04dcab7,f7d63a29e5
14999,Voice,62,2012-05-09 00:01:43.0,1,e077a6b74c5053c,4c8098eb6ea1a41,19e2e,19e2e,7f1f2f889f,b4ddb9e93c
15001,Voice,30,2012-05-09 00:01:43.0,2,672ce74c418aa7a,f9ff5af59cf0d68,19e2e,19e2e,98ed726da2,b4130b54ab
15002,Voice,60,2012-05-09 00:01:43.0,2,6edeb4c55714650,7e60838216482a7,19e2e,19e2e,1c11a2fcbb,6d70dae094

In [25]:
#check the number of null values per row
dt5.isnull().sum()

product               0
value                 0
date_time             0
dw_a_number_int       0
dw_b_number_int       0
cell_id               0
site_id            1997
dtype: int64

In [ ]:
#split the column values for date_ttime to have separate columns for date and time 
#dt5[['date','time']] = dt5.date_time.str.split(" ",expand=True,)
#dt5.drop(['date_time'],axis=1,inplace=True)
dt5

In [26]:
#perform data cleaning on the cells_geo dataframe
dt4

,VILLES,STATUS,LOCALISATION,DECOUPZONE,ZONENAME,LONGITUDE,LATITUDE,REGION,AREA,CELL_ID,SITE_CODE
0,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,fbb2e75af3,0bb492ef17
1,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,1502501d78,0bb492ef17
2,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,0c2e182a0c,0bb492ef17
3,ASSINIE,In Service,INTERIEUR,Grand-EST,"ASSINIE""",-3.488467,5.158761,SUD COMOE,NaN,69bdfc69fd,8a1e6ce31f
4,ASSINIE,In Service,INTERIEUR,Grand-EST,"ASSINIE""",-3.488467,5.158761,SUD COMOE,NaN,7a1029d2ab,8a1e6ce31f
...,...,...,...,...,...,...,...,...,...,...,...
3969,ZUENOULA,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-6.039694,7.428611,MARAHOUE,CENTRE NORTH,1cfc2d7ab1,f91ed8d2e9
3970,ZUENOULA,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-6.039694,7.428611,MARAHOUE,CENTRE NORTH,3ae1708153,f91ed8d2e9
3971,ZUENOULA,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-6.065450,7.444592,MARAHOUE,CENTRE NORTH,cb71f8a29c,61bee9c70c
3972,ZUENOULA,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-6.065450,7.444592,MARAHOUE,CENTRE NORTH,d4a6a0b645,61bee9c70c
3973,ZUENOULA,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-6.065450,7.444592,MARAHOUE,CENTRE NORTH,f9f3e42589,61bee9c70c

In [27]:
#setting the column names to lowercase
dt4.columns = map(str.lower, dt4.columns)

In [28]:
dt4.duplicated().sum()

43

In [ ]:
dt4.drop_duplicates()

In [43]:
#check number of null values per column in the geo_cell dataframe
dt4.isnull().sum()

villes           0
status          67
localisation     0
decoupzone       0
zonename         6
longitude        0
latitude         0
region           0
area            23
cell_id          0
site_code        0
dtype: int64

## merge data

In [114]:
#merge data of the three sampled dataframes to the cell_geo data 
dt6=pd.merge(dt5,dt4, how='inner', left_on=['site_id'], right_on=['site_code'])

In [116]:
dt6

,product,value,dw_a_number_int,dw_b_number_int,cell_id_x,site_id,date,time,villes,status,localisation,decoupzone,zonename,longitude,latitude,region,area,cell_id_y,site_code
0,sms,0,8118c3aa53d6c7b,1d103ea638ad1f0,5d9dc897f7,1b5540c02d,2012-05-07,00:00:00.0,BOUAKE,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.027139,7.718417,VALLEE DU BANDAMA,CENTRE NORTH,24ccdda3d5,1b5540c02d
1,sms,0,8118c3aa53d6c7b,1d103ea638ad1f0,5d9dc897f7,1b5540c02d,2012-05-07,00:00:00.0,BOUAKE,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.027139,7.718417,VALLEE DU BANDAMA,CENTRE NORTH,ebfc58af70,1b5540c02d
2,sms,0,8118c3aa53d6c7b,1d103ea638ad1f0,5d9dc897f7,1b5540c02d,2012-05-07,00:00:00.0,BOUAKE,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.027139,7.718417,VALLEE DU BANDAMA,CENTRE NORTH,ba8ce6e4ef,1b5540c02d
3,sms,0,8118c3aa53d6c7b,1d103ea638ad1f0,5d9dc897f7,1b5540c02d,2012-05-07,00:00:00.0,BOUAKE,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.027139,7.718417,VALLEE DU BANDAMA,CENTRE NORTH,c2545171dc,1b5540c02d
4,sms,0,8118c3aa53d6c7b,1d103ea638ad1f0,5d9dc897f7,1b5540c02d,2012-05-07,00:00:00.0,BOUAKE,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.027139,7.718417,VALLEE DU BANDAMA,CENTRE NORTH,f15bd5483f,1b5540c02d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51356,Voice,17,22e493a92442b73,c9e2c9c2fa3795a,2f50f4a1fb,cc45940406,2012-05-09,00:01:42.0,ADJAME,In Service,ABIDJAN,Abidjan_CENTRE,ZONE B - Abidjan_CENTRE,-4.023247,5.349442,LAGUNE,ABIDJAN NORTH,c179f33d5e,cc45940406
51357,Voice,17,22e493a92442b73,c9e2c9c2fa3795a,2f50f4a1fb,cc45940406,2012-05-09,00:01:42.0,ADJAME,In Service,ABIDJAN,Abidjan_CENTRE,ZONE B - Abidjan_CENTRE,-4.023247,5.349442,LAGUNE,ABIDJAN NORTH,0a3f751619,cc45940406
51358,sms,0,32e2e7c90a9b0e9,32e2e7c90a9b0e9,25c671778e,ab91f5b21d,2012-05-09,00:01:43.0,DIABO,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.171778,7.777056,VALLEE DU BANDAMA,CENTRE NORTH,0427a26d34,ab91f5b21d
51359,sms,0,32e2e7c90a9b0e9,32e2e7c90a9b0e9,25c671778e,ab91f5b21d,2012-05-09,00:01:43.0,DIABO,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.171778,7.777056,VALLEE DU BANDAMA,CENTRE NORTH,7c72293cf2,ab91f5b21d
51360,sms,0,32e2e7c90a9b0e9,32e2e7c90a9b0e9,25c671778e,ab91f5b21d,2012-05-09,00:01:43.0,DIABO,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.171778,7.777056,VALLEE DU BANDAMA,CENTRE NORTH,be18b5b981,ab91f5b21d

In [122]:
dt6.isnull().sum()

product              0
value                0
dw_a_number_int      0
dw_b_number_int      0
cell_id_x            0
site_id              0
date                 0
time                 0
villes               0
status             716
localisation         0
decoupzone           0
zonename            18
longitude            0
latitude             0
region               0
area               256
cell_id_y            0
site_code            0
dtype: int64

In [123]:
dt6.dropna()

,product,value,dw_a_number_int,dw_b_number_int,cell_id_x,site_id,date,time,villes,status,localisation,decoupzone,zonename,longitude,latitude,region,area,cell_id_y,site_code
0,sms,0,8118c3aa53d6c7b,1d103ea638ad1f0,5d9dc897f7,1b5540c02d,2012-05-07,00:00:00.0,BOUAKE,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.027139,7.718417,VALLEE DU BANDAMA,CENTRE NORTH,24ccdda3d5,1b5540c02d
1,sms,0,8118c3aa53d6c7b,1d103ea638ad1f0,5d9dc897f7,1b5540c02d,2012-05-07,00:00:00.0,BOUAKE,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.027139,7.718417,VALLEE DU BANDAMA,CENTRE NORTH,ebfc58af70,1b5540c02d
2,sms,0,8118c3aa53d6c7b,1d103ea638ad1f0,5d9dc897f7,1b5540c02d,2012-05-07,00:00:00.0,BOUAKE,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.027139,7.718417,VALLEE DU BANDAMA,CENTRE NORTH,ba8ce6e4ef,1b5540c02d
3,sms,0,8118c3aa53d6c7b,1d103ea638ad1f0,5d9dc897f7,1b5540c02d,2012-05-07,00:00:00.0,BOUAKE,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.027139,7.718417,VALLEE DU BANDAMA,CENTRE NORTH,c2545171dc,1b5540c02d
4,sms,0,8118c3aa53d6c7b,1d103ea638ad1f0,5d9dc897f7,1b5540c02d,2012-05-07,00:00:00.0,BOUAKE,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.027139,7.718417,VALLEE DU BANDAMA,CENTRE NORTH,f15bd5483f,1b5540c02d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51356,Voice,17,22e493a92442b73,c9e2c9c2fa3795a,2f50f4a1fb,cc45940406,2012-05-09,00:01:42.0,ADJAME,In Service,ABIDJAN,Abidjan_CENTRE,ZONE B - Abidjan_CENTRE,-4.023247,5.349442,LAGUNE,ABIDJAN NORTH,c179f33d5e,cc45940406
51357,Voice,17,22e493a92442b73,c9e2c9c2fa3795a,2f50f4a1fb,cc45940406,2012-05-09,00:01:42.0,ADJAME,In Service,ABIDJAN,Abidjan_CENTRE,ZONE B - Abidjan_CENTRE,-4.023247,5.349442,LAGUNE,ABIDJAN NORTH,0a3f751619,cc45940406
51358,sms,0,32e2e7c90a9b0e9,32e2e7c90a9b0e9,25c671778e,ab91f5b21d,2012-05-09,00:01:43.0,DIABO,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.171778,7.777056,VALLEE DU BANDAMA,CENTRE NORTH,0427a26d34,ab91f5b21d
51359,sms,0,32e2e7c90a9b0e9,32e2e7c90a9b0e9,25c671778e,ab91f5b21d,2012-05-09,00:01:43.0,DIABO,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.171778,7.777056,VALLEE DU BANDAMA,CENTRE NORTH,7c72293cf2,ab91f5b21d
51360,sms,0,32e2e7c90a9b0e9,32e2e7c90a9b0e9,25c671778e,ab91f5b21d,2012-05-09,00:01:43.0,DIABO,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.171778,7.777056,VALLEE DU BANDAMA,CENTRE NORTH,be18b5b981,ab91f5b21d

In [124]:
dt6.duplicated().sum()

1659

In [125]:
dt6.drop_duplicates()

,product,value,dw_a_number_int,dw_b_number_int,cell_id_x,site_id,date,time,villes,status,localisation,decoupzone,zonename,longitude,latitude,region,area,cell_id_y,site_code
0,sms,0,8118c3aa53d6c7b,1d103ea638ad1f0,5d9dc897f7,1b5540c02d,2012-05-07,00:00:00.0,BOUAKE,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.027139,7.718417,VALLEE DU BANDAMA,CENTRE NORTH,24ccdda3d5,1b5540c02d
1,sms,0,8118c3aa53d6c7b,1d103ea638ad1f0,5d9dc897f7,1b5540c02d,2012-05-07,00:00:00.0,BOUAKE,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.027139,7.718417,VALLEE DU BANDAMA,CENTRE NORTH,ebfc58af70,1b5540c02d
2,sms,0,8118c3aa53d6c7b,1d103ea638ad1f0,5d9dc897f7,1b5540c02d,2012-05-07,00:00:00.0,BOUAKE,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.027139,7.718417,VALLEE DU BANDAMA,CENTRE NORTH,ba8ce6e4ef,1b5540c02d
3,sms,0,8118c3aa53d6c7b,1d103ea638ad1f0,5d9dc897f7,1b5540c02d,2012-05-07,00:00:00.0,BOUAKE,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.027139,7.718417,VALLEE DU BANDAMA,CENTRE NORTH,c2545171dc,1b5540c02d
4,sms,0,8118c3aa53d6c7b,1d103ea638ad1f0,5d9dc897f7,1b5540c02d,2012-05-07,00:00:00.0,BOUAKE,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.027139,7.718417,VALLEE DU BANDAMA,CENTRE NORTH,f15bd5483f,1b5540c02d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51356,Voice,17,22e493a92442b73,c9e2c9c2fa3795a,2f50f4a1fb,cc45940406,2012-05-09,00:01:42.0,ADJAME,In Service,ABIDJAN,Abidjan_CENTRE,ZONE B - Abidjan_CENTRE,-4.023247,5.349442,LAGUNE,ABIDJAN NORTH,c179f33d5e,cc45940406
51357,Voice,17,22e493a92442b73,c9e2c9c2fa3795a,2f50f4a1fb,cc45940406,2012-05-09,00:01:42.0,ADJAME,In Service,ABIDJAN,Abidjan_CENTRE,ZONE B - Abidjan_CENTRE,-4.023247,5.349442,LAGUNE,ABIDJAN NORTH,0a3f751619,cc45940406
51358,sms,0,32e2e7c90a9b0e9,32e2e7c90a9b0e9,25c671778e,ab91f5b21d,2012-05-09,00:01:43.0,DIABO,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.171778,7.777056,VALLEE DU BANDAMA,CENTRE NORTH,0427a26d34,ab91f5b21d
51359,sms,0,32e2e7c90a9b0e9,32e2e7c90a9b0e9,25c671778e,ab91f5b21d,2012-05-09,00:01:43.0,DIABO,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.171778,7.777056,VALLEE DU BANDAMA,CENTRE NORTH,7c72293cf2,ab91f5b21d
51360,sms,0,32e2e7c90a9b0e9,32e2e7c90a9b0e9,25c671778e,ab91f5b21d,2012-05-09,00:01:43.0,DIABO,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.171778,7.777056,VALLEE DU BANDAMA,CENTRE NORTH,be18b5b981,ab91f5b21d

# perform some data exploration and Analysis

In [152]:
dt6['value'].describe()

count    51361.000000
mean        28.083371
std        112.082966
min          0.000000
25%          0.000000
50%          0.000000
75%         25.000000
max       6750.000000
Name: value, dtype: float64

In [153]:
dt6['value'].sum()

1442390

In [155]:
#a top 10 list with the most used cities locations 
dt6[['villes','localisation','decoupzone']].value_counts().head(10)

villes        localisation  decoupzone
PETIONARA     INTERIEUR     Grand-NORD      3
GRAND BEREBY  INTERIEUR     SUD-OUEST       3
BANDIAHI      INTERIEUR     Grand-OUEST     3
PAKAOUBO      INTERIEUR     Grand-NORD      3
BAOUBLI       INTERIEUR     Grand-OUEST     3
MBONOUA       INTERIEUR     Grand-SUD       3
KODIOSSOU     INTERIEUR     Grand-EST       3
ADJAME        ABIDJAN       Abidjan_NORD    2
DANANON       INTERIEUR     Grand-OUEST     2
KOTOULA       INTERIEUR     Grand-NORD      2
dtype: int64

In [173]:
#bottom lrecords 
dt6[dt6.localisation.isin(['ABIDJAN'])].tail(10)

,product,value,dw_a_number_int,dw_b_number_int,cell_id_x,site_id,date,time,villes,status,localisation,decoupzone,zonename,longitude,latitude,region,area,cell_id_y,site_code
51287,Voice,30,7d6bba2a1899f14,27b236409a51c97,917a31629b,aae215a28a,2012-05-09,00:00:53.0,ANYAMA,In Service,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-4.051339,5.447689,LAGUNE,ABIDJAN NORTH,38dbb4ea9b,aae215a28a
51288,Voice,30,7d6bba2a1899f14,27b236409a51c97,917a31629b,aae215a28a,2012-05-09,00:00:53.0,ANYAMA,In Service,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-4.051339,5.447689,LAGUNE,ABIDJAN NORTH,0f47ad7b5b,aae215a28a
51307,Voice,1,5945b4d9652269b,7f23d582577ea04,a02ee0aacd,8ab136750b,2012-05-09,00:00:53.0,ANYAMA,In Service,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-4.062833,5.498333,LAGUNE,ABIDJAN NORTH,7603829efb,8ab136750b
51308,Voice,1,5945b4d9652269b,7f23d582577ea04,a02ee0aacd,8ab136750b,2012-05-09,00:00:53.0,ANYAMA,In Service,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-4.062833,5.498333,LAGUNE,ABIDJAN NORTH,a19ae3b62d,8ab136750b
51309,Voice,1,5945b4d9652269b,7f23d582577ea04,a02ee0aacd,8ab136750b,2012-05-09,00:00:53.0,ANYAMA,In Service,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-4.062833,5.498333,LAGUNE,ABIDJAN NORTH,53548e1bc6,8ab136750b
51310,sms,25,540aefa338ef9c5,2cbb6176bd61002,21f0372ba1,8ab136750b,2012-05-09,00:01:34.0,ANYAMA,In Service,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-4.062833,5.498333,LAGUNE,ABIDJAN NORTH,7603829efb,8ab136750b
51311,sms,25,540aefa338ef9c5,2cbb6176bd61002,21f0372ba1,8ab136750b,2012-05-09,00:01:34.0,ANYAMA,In Service,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-4.062833,5.498333,LAGUNE,ABIDJAN NORTH,a19ae3b62d,8ab136750b
51312,sms,25,540aefa338ef9c5,2cbb6176bd61002,21f0372ba1,8ab136750b,2012-05-09,00:01:34.0,ANYAMA,In Service,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-4.062833,5.498333,LAGUNE,ABIDJAN NORTH,53548e1bc6,8ab136750b
51356,Voice,17,22e493a92442b73,c9e2c9c2fa3795a,2f50f4a1fb,cc45940406,2012-05-09,00:01:42.0,ADJAME,In Service,ABIDJAN,Abidjan_CENTRE,ZONE B - Abidjan_CENTRE,-4.023247,5.349442,LAGUNE,ABIDJAN NORTH,c179f33d5e,cc45940406
51357,Voice,17,22e493a92442b73,c9e2c9c2fa3795a,2f50f4a1fb,cc45940406,2012-05-09,00:01:42.0,ADJAME,In Service,ABIDJAN,Abidjan_CENTRE,ZONE B - Abidjan_CENTRE,-4.023247,5.349442,LAGUNE,ABIDJAN NORTH,0a3f751619,cc45940406

In [154]:
#a top 10 list of zones where there most traffic
dt6['zonename'].value_counts().tail(10)

ZONE A - Grand-SUD         18
ZONE C - Abidjan_SUD       15
ZONE B - Abidjan_SUD        6
ZONE D - Grand-SUD          6
ZONE A - Grand-EST          6
ZONE B - Grand-NORD         3
AGBANNEW                    3
ZONE B - Abidjan_Nord       3
ZONE B - Abidjan-EST        3
ZONE B - Abidjan_CENTRE     2
Name: zonename, dtype: int64

In [144]:
#checking which products bring in more value
dt6['product'].value_counts()

sms      29652
Voice    21709
Name: product, dtype: int64